* {
    margin: 0px;
    padding: 0px;
}


/**************************** CONTENT ****************************/

.content {
    margin: 20px auto;
    width: 280px;
    border: 1px solid #999;
    padding: 10px;
    background: url("Images/trangvo.jpg") no-repeat;
    min-height: 200px;
}

.content h1 {
    color: red;
    text-align: center;
}

.content ul {
    margin-top: 10px;
    margin-left: 30px;
}

.content ul li {
    margin-top: 5px;
    padding-top: 10px;
    list-style: decimal inside;
}


/**************************** CONTENT2 ****************************/

.content2 {
    margin: 20px auto;
    width: 600px;
    border: 1px solid #999;
    padding: 10px;
    min-height: 200px;
}

.content2 h1 {
    color: red;
    text-align: center;
}

.content2 ul {
    margin-top: 10px;
    margin-left: 30px;
}

.content2 ul li {
    display: inline-block;
    list-style: none;
    margin-left: 30px;
}

.content2 ul li a {
    display: block;
    width: 120px;
    height: 120px;
}

.content2 ul li img {
    border: 1px solid black;
}

.content2 div.result {
    margin-top: 20px;
    margin-left: 250px;
}


/**************************** CONTENT3****************************/

.content3 {
    margin: 20px auto;
    width: 225px;
    border: 1px solid #999;
    padding: 10px;
}

.content3 h1 {
    color: red;
    text-align: center;
}

.content3 div.image {
    margin: 30px 0px;
    text-align: center;
}

.content3 div.image img {
    margin: 10px 0px;
}

.content3 div.image a {
    display: inline-block;
    background-color: #686f97;
    padding: 3px 10px;
    text-decoration: none;
    color: #fff;
}

.content3 div.image a:hover {
    color: #f6f312;
}


/**************************** CONTENT3****************************/

.content4 {
    margin: 20px auto;
    width: 600px;
    border: 1px solid #999;
    padding: 10px;
}

.content4 h1 {
    color: red;
    text-align: center;
}

.content4 div.question {
    margin-top: 20px;
    text-align: center;
}

.content4 div.question p {
    margin-top: 5px;
}

.content4 div.question p:last-child {
    text-align: right;
    font-style: italic;
    margin-top: 20px;
}

.content4 div.answer p {
    font-weight: bold;
}

.content4 div.answer ul li {
    margin-left: 20px;
    list-style: none;
}